body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin: 0;
    min-height: 100vh;
    background: whitesmoke;

}

button{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    color: white;
    font-weight: bold;
    border: 0;
}

a {
    text-decoration: none;
    color: paleturquoise;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.header, .top {
    color: white;
    background: steelblue;
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 16px;
}

.top .text{
    font-size: 32px;
    font-weight: bolder;
}

img{
    max-height: 100px;
}

.title{
    margin-top: 32px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.middle {
    padding: 16px;
    display: flex;
    gap: 32px;
    justify-content: center;
}


.info{
    max-width: 150px;
    max-height: 150px;
    padding: 16px;
}

.quote, .credit{
    display: flex;
    padding: 32px;
    background: lightgray;
    align-items: center;
    justify-content: center;
}

.bottom{
    background: royalblue;
    color: white;
    margin: 10%;
    padding: 16px;
    border-radius: 8px;
}

.footer {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background: darkslategrey;
    color: white;
}
